/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(#60a2ff, #94c1ff);
}

/* General */
.container {
  max-width: 400px;
  margin: 0 auto;
}

/* Screen view logic */
.building-screen,
.loading-screen,
.result-screen {
  display: none;
}

.building .building-screen
.loding .loading-screen,
.result .result-screen {
  display: block;
}

/* Header */
header {
  text-align: center;
}

.boolean-logo {
    height: 30px;
}

.app-logo {
    max-width: 100%;
    margin: 16px 0;
}

/* Cards */
.card {
    background-color: #539afe;
    border: 1px solid #1475fd;
    padding: 16px;
    border-radius: 16px;
    margin-bottom: 16px;
}

.card-title {
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Unbouded', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 20px;
    margin-bottom: 16px;
}

/* Textarea */
textarea {
    width: 100%;
    padding: 16px;
    border-radius: 24px;
    color: #62a3ff;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    background-color: #e9f2ff;
    outline: none;
    border: 3px solid transparent;
    height: 100px;
    resize: none;
}

textarea::placeholder {
    color: #62a3ff;
}

textarea:focus {
    color: #072c81;
    border-color: #d9ff66;
}

/* Primary Button */
button,
.answer-box {
    width: 100%;
    padding: 16px;
    border-radius: 16px;
    border: none;
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 16px;
    cursor: pointer;
    font-size: 18px;
}

.primary-button {
    color: #d9ff66;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    background-color: #072c81;
    text-transform: uppercase;
    font-family: 'Unbouded', sans-serif;
}

.answer-button {
    color: #ffffff;
    background-color: #1475fd;
    font-family: 'Inter', sans-serif;
}

.answer-box {
    color: #072c81;
    background-color: #e9f2ff;
    font-weight: 400;
}

/* Loading Screen */
.loading-screen {
    text-align: center;
}
.loading-screen img {
    margin-top: 100px;
    animation: pulse 0.5s infinite alternate;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

.question {
    color: #ffffff;
    font-size: 18px;
}